{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Пользователи</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/users.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_admin.css' %}" rel="stylesheet">
        <link href="{% static 'css/rating.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                <h3>Пользователи</h3>
                <a id="add" href="{% url 'user_create' %}">➕ &nbsp;Добавление пользователя</a>
                <table>
                    <tr>
                        <td class="heading">
                            Никнейм
                        </td>
                        <td class="heading">
                            Является автором
                        </td>
                        <td class="heading">
                            Администратор?
                        </td>
                        <td class="heading">
                            Действия
                        </td>
                    </tr>
                    {% for item in result %}
                        <tr>
                            <td class="content">
                                {{ item.username }}
                            </td>
                            <td class="content">
                                {% if item.utype %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                            <td class="content">
                                {% if item.uadmin %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                            <td id="actions_holder">
                                <div class="actions">
                                    <a id="edit" href="{% url 'user_update' item.idx %}">✏️ &nbsp;Редактирование</a>
                                    <a id="remove" href="{% url 'user_delete' item.idx %}">🗑️ &nbsp;Удаление</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </container>
    </body>
</html>
