container {
    width: 100%;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 84px;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #454952, #18191b);
}

container p {
    color: white;
    font-family: "Nunito", serif;
    font-size: 18px;
}

container h3 {
    color: white;
    font-family: "Nunito", serif;
    font-size: 26px;
}

container div {
    padding-left: 48px;
}

container div p+p {
    margin-left: 24px;
}


table {
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
}

table th {
    padding: 8px 22px;
    font-size: 24px;
    font-family: "Nunito", serif;
    border: 2px solid white;
}

table td {
    text-align: center;
    font-size: 20px;
    font-family: "Nunito", serif;
    border: 2px solid white;
    padding: 8px 16px;
}


table .heading {
    background-color: #c41a3f;

}

table .content {
    background-color: #234c55;
}
