container {
    overflow: auto;
    padding-bottom: 32px;
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: start;
}

#actions_holder {
    padding: 0;
}

#add {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 12px;
    background-color: #b8860b;
    position: absolute;
    top: 20px;
    right: 48px;
    color: #1f1f1f;
    text-decoration: none;
    font-family: "Nunito", serif;
    border-radius: 8px;
}

#add:hover {
    background-color: #dfa30d;
}

.actions a {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 12px;
    text-decoration: none;
    color: #1f1f1f;
}

.actions #edit {
    background-color: #2db95c;
}

.actions #edit:hover {
    background-color: #36d86c;
}

.actions #remove {
    background-color: #f7566b;
    width: 90.3%;
}

.actions #remove:hover {
    background-color: #ff1938;
}
