{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Пользователи</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_update.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                {% if source == "publish" %}
                    <h3>Добавление пользователя</h3>
                {% else %}
                    <h3>Изменение пользователя</h3>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div id="nick_block">
                        <label>Никнейм: </label>
                        {{ form.username }}
                    </div>
                    <div id="text_block">
                        <label>Является автором: </label>
                        {{ form.utype }}
                    </div>
                    <div id="text_block">
                        <label>Администратор?: </label>
                        {{ form.uadmin }}
                    </div>
                    <div id="nick_block">
                        <label>Пароль: </label>
                        {{ form.password1 }}
                    </div>
                    <br>
                    <button id="pub" type="submit">Опубликовать</button>
                    {{ err }}
                </form>
            </div>
        </container>
    </body>
</html>
