{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Теги</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/tag_update.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                {% if source == "publish" %}
                    <h3>Добавление тега</h3>
                {% else %}
                    <h3>Изменение тега</h3>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div id="nick_block">
                        <label>Номер поста: </label>
                        {{ form.pid }}
                    </div>
                    <div id="text_block">
                        <label>Тег: </label>
                        {{ form.tag }}
                    </div>
                    <button id="pub" type="submit">Опубликовать</button>
                    {{ err }}
                </form>
            </div>
        </container>
    </body>
</html>
