{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Теги</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_tags.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_admin.css' %}" rel="stylesheet">
        <link href="{% static 'css/rating.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                <h3>Теги</h3>
                <a id="add" href="{% url 'tag_create' %}">➕ &nbsp;Добавление тега</a>
                <table>
                    <tr>
                        <td class="heading">
                            Номер поста
                        </td>
                        <td class="heading">
                            Тег
                        </td>
                        <td class="heading">
                            Действия
                        </td>
                    </tr>
                    {% for item in result %}
                        <tr>
                            <td class="content">
                                {{ item.pid }}
                            </td>
                            <td class="content">
                                {{ item.tag }}
                            </td>
                            <td id="actions_holder">
                                <div class="actions">
                                    <a id="edit" href="{% url 'tag_update' item.idx %}">✏️ &nbsp;Редактирование</a>
                                    <a id="remove" href="{% url 'tag_delete' item.idx %}">🗑️ &nbsp;Удаление</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </container>
    </body>
</html>
