{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Регистрация пользователя</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/users.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_admin.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_update.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_reg.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                <h3>Регистрация пользователя</h3>
                <form method="post">
                    {% csrf_token %}
                    <div id="nick_block">
                        <label>Никнейм: </label>
                        <input id="nick_inp" type="text" name="username" placeholder="Никнейм">
                    </div>
                    <div id="nick_block">
                        <label>Пароль: </label>
                        <input id="passwd_inp" type="password" name="password1" placeholder="Пароль">
                    </div>
                    <div id="nick_block">
                        <label>Пароль еще раз: </label>
                        <input id="passwd_inp_conf" type="password" name="password2" placeholder="Пароль еще раз">
                    </div>
                    <button id="pub" type="submit">Регистрация</button>
                    {{form.errors}}
                </form>
            </div>
        </container>
    </body>
</html>
