{% load static%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Лабораторная работа №7</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                <h3>Лабораторная работа №7</h3>
                <p>При выполнении этой лабораторной работы необходимо реализовать веб-сайт в среде Django, удовлетворяющий следующим требованиям:</p>
                <p>1. Количество таблиц в БД - не менее 5. Таблицы должны быть спроектированы в соответствии с тремя нормальными формами.</p>
                <p>2. Должны быть реализованы 3 типа связей: one-to-one, one-to-many, many-to-many.</p>
                <p>3. Таблицы создаются с использованием моделей в Django и миграций.</p>
                <p>4. Как минимум, для 1 сущности должны быть реализованы CRUD операции (Create, Read, Update, Delete) и представление списка сущностей.</p>
                <p>5. Остальные таблицы должны быть доступны для редактирования в административной части сайта.</p>
                <p>6. Необходимые пять таблиц должны быть разработаны для моделирования предметной области, заданной вариантом. Необходимо придумать эти таблицы, не забывая про здравый смысл.</p>
            </div>
            <br>
            <div>
                <h3>Лабораторная работа №8</h3>
                <p>Необходимо модифицировать лабораторную работу №7:</p>
                <p>1. Добавить средства редактирования для ВСЕХ сущностей.</p>
                <p>2. Добавить минимум 2 роли, соответствующих реальным ролям в выбранной предметной области. Добавить пользователей, обладающих этими ролями.</p>
                <p>3. Реализовать средства регистрации пользователей, аутенфикации.</p>
                <p>4. Добавить средства авторизации и разграничения прав доступа разным ролям к разным сущностям.</p>
            </div>
        </container>
    </body>
</html>
