{% load static %}
<header>
    <navbar>
        <a href="{% url 'index' %}">
            <div id="goHome">
                <img id="homePic" src="{% static 'images/icons/menu/home.svg' %}" alt="Домой">
                <label>Главная</label>
            </div>
        </a>
        <a href="{% url 'posts' %}">
            <div id="goPosts">
                <img id="postsPic" src="{% static 'images/icons/menu/posts.svg' %}" alt="Посты">
                <label>Посты</label>
            </div>
        </a>
        {% if role == "admin" %}
        <a href="{% url 'rating' %}">
            <div id="goRating">
                <img id="ratingPic" src="{% static 'images/icons/menu/leaderboard.svg' %}" alt="Рейтинг">
                <label>Рейтинг</label>
            </div>
        </a>
        {% endif %}
        {% if role == "admin" or role == "author" %}
        <a href="{% url 'tags' %}">
            <div id="goPostTags">
                <img id="postTagsPic" src="{% static 'images/icons/menu/tags.svg' %}" alt="Теги">
                <label>Теги</label>
            </div>
        </a>
        {% endif %}
        {% if role == "admin" %}
        <a href="{% url 'users' %}">
            <div id="goUsers">
                <img id="usersPic" src="{% static 'images/icons/menu/users.svg' %}" alt="Пользователи">
                <label>Пользователи</label>
            </div>
        </a>
        <a href="{% url 'likes' %}">
            <div id="goLikes">
                <img id="likesPic" src="{% static 'images/icons/menu/liked.svg' %}" alt="Лайки">
                <label>Лайки</label>
            </div>
        </a>
        <a href="{% url 'post_admin' %}">
            <div id="goPostAdmin">
                <img id="postAdminPic" src="{% static 'images/icons/menu/done.svg' %}" alt="ПостоАдминка">
                <label>Редактирование</label>
            </div>
        </a>
        {% endif %}
        {% if not user.is_authenticated %}
        <div id="log_reg">
            <a href="{% url 'register' %}">
                <div id="goRegister">
                    <img id="registerPic" src="{% static 'images/icons/menu/register.svg' %}" alt="ПостоАдминка">
                    <label>Регистрация</label>
                </div>
            </a>
            <a href="{% url 'login' %}">
                <div id="goLogin">
                    <img id="loginPic" src="{% static 'images/icons/menu/login.svg' %}" alt="ПостоАдминка">
                    <label>Войти</label>
                </div>
            </a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="info_logout">
            <div style="display: flex; flex-direction: column; align-items: flex-end; margin-right: 32px;">
                <label>Пользователь: {{user}}</label>
                <label>Роль: {{role}}</label>
            </div>
            <a href="{% url 'logout' %}?next=/">
                <div id="goLogout">
                    <img id="logoutPic" src="{% static 'images/icons/menu/exit.svg' %}" alt="ПостоАдминка">
                    <label>Выйти</label>
                </div>
            </a>
        </div>
        {% endif %}
    </navbar>
</header>
