{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Вход</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/users.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_admin.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_update.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_reg.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'main/header.html' %}
        <container>
            <div>
                <h3>Вход</h3>
                <form method="post">
                    {% csrf_token %}
                    <div id="nick_block">
                        <label>Никнейм: </label>
                        <input id="nick_inp" type="text" name="username" placeholder="Никнейм">
                    </div>
                    <div id="nick_block">
                        <label>Пароль: </label>
                        <input id="passwd_inp" type="password" name="password" placeholder="Пароль">
                    </div>
                    <button id="pub" type="submit">Вход</button>
                    {{form.errors}}
                </form>
            </div>
        </container>
    </body>
</html>
